# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
project.lock.json
project.fragment.lock.json
artifacts/
[Dd]ebug/
[Rr]elease/
[Bb]uilds/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.dbmdl
*.jfm
*.pfx
*.publishsettings
*.cache

# ASP.NET
*.mdf
*.ldf
*.ndf
appsettings.Development.json
appsettings.*.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.ntvs*
*.njsproj
*.sln
*.sw?
